*{
                
    list-style:none;
    text-decoration:none;
    border-collapse: collapse;
    margin:0px;
    padding: 0px;
    color:rgb(153, 142, 142);

}

.contents1_bold{
    font-size: 60px;
    font-weight: bold;
}
.intro_bg{
    background-image:url("people-3120717.jpg");
    width:100%;
    height:718px;

}

.header{
    display:flex;
    width:1280px;
    margin:auto;
}



.nav{
    display:flex;
    justify-content:flex-end;
    line-height:86px;
    width:calc(980px);
    color:#fff;

}
.nav>li{
    margin-left:84px;
}
.nav>li>a{
    color:#fff;
}

.nav2{
    
    width:1000px;
    color:#fff;
    flex:1;
	height:302px;
    margin-left:950px;
    background-color: white;

}

.nav2>li{
   
    color:#000;
    font-size: 20px;

}
.nav2>li>a{
    
    color:rgb(214, 191, 191);
    font-size: 20px;
}
.icons4{
    margin-top:8px;
}
.icons4>img{
    
    width:1000px; 
    height:541px;
    float:right;
    margin-top: 89px;
}



.intro_text{
    width:100%;
    margin:231px auto 231px auto;
    
    text-align: center;

}
.intro_text>h1{
    font-size: 48px;
    color:rgb(194, 88, 88);
}

.intro_text>h4{

    color:#fff;
}
.dontext h1{
    font-size:100px;
    color: white;
}
.dontext{
    width:100%;
    margin:600px auto 231px auto;
    
    text-align: center;

}
.dontext h3{
    color:rgb(161, 123, 123);
}

.amount{
    position:relative;
    top:-66px;
    display: flex;
    width:1280px;
    background:#fff;
    box-shadow:0px 0px 10px rgba(0,0,0.5);
    margin: auto;
}
.amount>li{
    flex: 1;
    height:132px;

}
.amount>li>div{
    text-align:center;

    margin-top:37px;
    font-size: 20px;

    font-weight:bold;
    height: 57 px;
}
.amount>li>div:not(:not-last-child)>div{
    border-right:1px solid rgb(0, 0, 0);
}

.contents1{
    font-size: 20px;
    font-weight:lighter;
}
.result{
    font-size:24px;
}

/* main_text 0*/
.main_text0{
    width:100%;
    height:690px;
    margin-top:-132px;
    
    background:rgb(92, 83, 83);

}
.main_text0>h1{
    padding-top:116px;
    text-align:center;

}
.main_text0>.contents1{
    text-align: center;


}
.icons{

    display:flex;
    width:1000px;
    height:302px;
    
    margin:auto;

}
.icons>li{
    flex:1;
    background:white;
    margin-top:49px;
    height:302px;
    text-align: center;
    border-radius:20px;
}

.icons>li:not(:last-child){
    margin-right: 20px;
}

.icons2{

    display:flex;
    width:600px;
    height:302px;
    
    text-align: 400px;

}
.icons2>img{
    flex:1;
    background:white;
    margin-top:200px;
    height:502px;
    width:700;
    border-radius:5px;
}

.icons2>li:not(:last-child){
    margin-right: 20px;
}

.icons>li>.icon_img{
    margin-top:36px;
    margin-left: 36px;
    width:100%;
}

.icons> .contents1 {
    width:10px;
    
}

.second{
    margin-top:20px;
}

.bg2>.footer>.dona>img{
    flex:1;
    background:white;
    margin-top:85px;
    height:600px;
    width:800px;
    border-radius:5px;
   
    margin-right:-400px;
}
.footer{
   
    display:flex;
    width:1280px;
}

.bg2{
    background-color: black;
    height:800px;
    width:100%;
    
}
.donaexp h3{
    flex:1;
}

.dona>img{
    width:390px;
    height:400px;
    
   
    flex:left;
            
}
#im3{
    margin-top:400px;
}
#im3 p{
    text-align: center;
    margin-left: -400px;
    width: 500px;
    font-size: 20px;
}
#im1{
    margin-top: 200px;
}
#im1 p{
    text-align: center;
    margin-left: 500px;
    width: 500px;
    font-size: 20px;
}
#im1 p a{
    font-weight:bold;
    font-size: 30px;
}
